.arcp {
    background: url(images/backg.png);
    width: 100%;
    height: 5px;
    z-index: 1000000;
}

.arc {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.arcontents {
    background-color: #fff;
    width: 96%;
    margin: 0 auto;
    max-width: 1500px;
}

.PagesColoumn {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: #fff;
}

.Coloumn {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
}

.OneColoumn {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.clr {
    clear: both;
}

.seF {
    position: absolute;
    z-index: 90;
    right: 5px;
    top: 4px;
}

.csf {
    color: #7e7e7d;
}

.arc0 {
    width: 28%;
    float: left;
}

.arc1 {
    width: 49.5%;
    float: left;
    position: relative;
    z-index: 100;
}

.arc2 {
    width: 22.5%;
    float: left;
}

.arcc {
    float: left;
    background-color: #fff;
    width: 78%;
}

.arcc1 {
    width: 99%;
    border-right: 1px solid #ededed;
}

.shopArc {
    width: 100%;
    background-color: #fff;
}

.leftC1 {
    float: left;
    background-color: #fff;
    width: 22%;
}

.centerC1 {
    float: left;
    background-color: #fff;
    width: 78%;
    position: relative;
    z-index: 99;
}

.leftArc {
    float: left;
    width: 100%;
    background-color: #fff;
}

.rightArc {
    float: right;
    background-color: #f7f7f7;
    width: 22%;
}

.ContentPane {
    position: relative;
    background-color: #fff;
    position: relative;
}

.dnnLoginService {
    margin-left: 60%;
}

.messLeft {
    background-color: #fff;
}

.messRight {
    background-color: #fff;
}

.AdvLogo, .TopBooth {
    width: 100%;
}

#to_top {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 9999;
    display: none;
}

@media screen and (max-width:800px) {
    .leftC1 {
        width: 100%;
    }

    .arc0, .arc2 {
        width: 50%!important;
    }

    .arc1 {
        display: none!important;
    }

    .centerC1 {
        width: 100%;
    }

    .rightArc {
        width: 100%;
    }

    .arcc {
        width: 100%;
    }

    .arcontents {
        min-width: inherit!important;
    }

    .tabsContentSP .listFirt {
        width: 100%!important;
    }

    .tabsContentSP li {
        width: 50%!important;
    }

    .tabsContentSP .imgsp {
        margin-left: 0!important;
    }

    .BoxContentSPNew .newsp1 {
        width: 50%!important;
        margin: 18px 0 12px!important;
    }

    .BoxContentSPNew .newsp3, .BoxContentSPNew .newsp4 {
        text-align: center!important;
    }

    .BoothTop {
        width: 50%!important;
    }

    .FooterIntroR, .FooterIntroL {
        width: 100%!important;
    }

    .FooterIntroBox {
        width: 48%!important;
        height: 170px;
    }

    .hcs1 {
        width: 50%!important;
    }

    .lmnu li .litop a:hover {
        background: none repeat scroll 0 0 rgba(0,0,0,0)!important;
    }

    .lmnu .menu0 li ul li ul {
        display: none!important;
    }

    .lmnu .menu0 li.menu1:hover ul {
        display: none!important;
    }

    .lmnu0 {
        display: block!important;
    }

    .lmnu, .titleMm {
        display: none!important;
    }

    .blueberry .slides {
        height: 216px!important;
    }

        .blueberry .slides li img {
            height: inherit!important;
        }

    #HotSP ul li {
        width: inherit!important;
        margin-top: 20px!important;
    }

    .PanenRight, .PanenLeft {
        float: none!important;
    }

    #HotSP {
        width: 100%!important;
    }

        #HotSP ul, ol {
            margin: 0!important;
        }

    .ViewMenu0 a img {
        height: 50px!important;
    }

    .ViewMenu0 {
        height: 60px!important;
    }

    .clShopArc {
        top: -26px!important;
    }

    .BoxShopArc .carttitle {
        font-size: 11px!important;
    }

    .BoxShopArc .coutCart {
        font-size: 10px!important;
    }

    .BoxShopArc .priceCart {
        font-size: 10px!important;
    }

    .btnThanhtoan {
        padding: 5px!important;
    }

    .HotAdNew {
        display: none;
    }

    .title0 .viewtab, .title0 .tabst_child {
        display: none !important;
    }

    .oview.osp1 {
        width: 33.33%;
    }

    .osp1 .osp2 {
        height: 80px;
        padding-top: 20px !important;
    }

        .osp1 .osp2 img {
            max-width: 100% !important;
            width: inherit !important;
            max-height: 80px!important;
        }

    .osp1 .osp3 {
        height: 22px;
    }

    .osp1 .osp4 {
        height: 16px;
    }

    .psp .clr {
        clear: none !important;
    }

    .qcao10 img {
        max-width: 300px !important;
    }

    .videoSeo,.qcao0 {
        margin: 0 auto !important;
        max-width: 300px !important;
    }
}

@media screen and (max-width:480px), all and (max-device-width:480px) {
    .arc0 {
        width: 50%!important;
    }

    .arcontents {
        min-width: inherit!important;
    }

    .arc2 {
        width: 50%!important;
        height: 68px;
        z-index: 900!important;
    }

    #ftk div.SearchBorder {
        width: 272px!important;
    }

    #ftk .ccm2 {
        width: 173px!important;
    }

    #ftk input.SearchTextBox {
        width: 150px!important;
    }

    .tabsContentSP li {
        width: 100%!important;
    }

    .BoxContentSPNew .newsp1 {
        width: 50%!important;
    }

    .BoothTop {
        width: 100%!important;
    }

    .FooterIntroBox {
        width: 98%!important;
    }

    .hcs1 {
        width: 50%!important;
        padding-bottom: 10px !important;
    }

    .hcs2, .hcs20, .hcs20 img {
        padding-top: 0px !important;
        height: 105px !important;
    }

    .hcs4 {
        padding-top: 0px !important;
        margin-bottom: 9px !important;
    }

    .hcs3 {
        height: 30px!important;
        line-height: 15px!important;
        padding-top: 0 !important;
    }

    .blueberry .slides {
        height: 110px!important;
    }

        .blueberry .slides li img {
            height: inherit!important;
        }

    .lmnu li .litop a:hover {
        background: none repeat scroll 0 0 rgba(0,0,0,0)!important;
    }

    .lmnu .menu0 li ul li ul {
        display: none!important;
    }

    .lmnu .menu0 li.menu1:hover ul {
        display: none!important;
    }

    .lmnu0 {
        display: block!important;
    }

    .lmnu, .Footer0, .titleMm {
        display: none!important;
    }

    #HotSP {
        width: 100%!important;
    }

        #HotSP ul li {
            width: inherit!important;
            margin-top: 20px!important;
        }

    .PanenRight, .PanenLeft {
        float: none!important;
    }

    #navigation-wrapper ul {
        height: auto!important;
        top: 4px;
    }

    #wrapper ul {
        top: 4px;
    }

    #navigation-wrapper ul li a {
        padding: 3px!important;
        padding-bottom: 1px!important;
    }

    a.cuta {
        padding: 3px!important;
        padding-bottom: 1px!important;
    }

    #HotSP ul, ol {
        margin: 0!important;
    }

    .ViewMenu0 a img {
        height: 50px!important;
    }

    .ViewMenu0 {
        height: 60px!important;
    }

    #HotSP {
        display: none;
    }

    .clShopArc {
        top: -26px!important;
    }

    .ListPShopArc {
        width: 226px!important;
    }

    .BoxShopArc .carttitle {
        font-size: 11px!important;
    }

    .BoxShopArc .coutCart {
        font-size: 10px!important;
    }

    .BoxShopArc .priceCart {
        font-size: 10px!important;
    }

    .btnThanhtoan {
        padding: 5px!important;
    }

    .tabsContentSP .listFirt .imgsp {
        height: 170px !important;
    }

    .tabsContentSP .imgsp {
        height: 70px !important;
    }

    .oview.osp1 {
        width: 50%;
    }
}
