/*.arcontents{position:relative;top:140px;}*/
.arcontents{background-color:#ffffff;width: 96%;margin: 0px auto; min-width:900px; max-width:1500px;}
.PagesColoumn{clear: both;margin: 0px auto;position: relative;width: 100%;background:#fff;}
.Coloumn{clear: both;margin: 0px auto;padding:0px;position: relative;width: 100%; background-color:#ffffff;}
.OneColoumn {clear: both;margin: 0px auto;padding:0px;position: relative;width: 100%;
        background-color:#ffffff; z-index:10;}
        
.clr{clear:both;}

.seF{position:absolute;z-index: 90;right:0px;top:0px;}
.csf{color:#7e7e7d;}

.arc0{width:28%; float:left;}
.arc1{width:50%;float:left;position:relative; z-index:100;}
.arc2{width:22%;float:left;}

.weatherArc{width:100%;background-color:#ffffff;}
.advArc {width:100%;background-color:#ffffff; margin-top:54px;}

.NewsArc1{float:left;width:50%;background-color:#ffffff;}
.NewsArc2{float:left;width:50%;background-color:#ffffff;}

.NewsLeft{float:left;width:100%;background-color:#ffffff;}
.leftArc{float:left;width:100%;background-color:#ffffff;}

.rightArc {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #f2f2f2;
    margin-bottom: 5px;
}

.ContentPane {position: relative;background-color:#ffffff;position:relative;}
.dnnLoginService {
    margin-left:60%;
}
.left {
    float: left;
    width: 78%;
    background-color: #ffffff;
}

.rightNew {
    float:right;
    width:22%; 
}
#ftk div.SearchBorder{
    display:none;
}

.readLeft {
    width: 99%;
    background-color: #ffffff;
}
.readCenter {
    width: 99%;
    background-color: #ffffff;
}
.readRight {
    width: 99%;
    margin:auto auto 0;
}
.sk3left {
    float: left;
    width: 70%;
}
.sk3center {
    float: left;
    width: 30%;
}
#to_top {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 9999;
    display:none;
}